.dogImage {
    width: 500px; /* Ensure all images have the same width */
    height: 500px; /* Set a fixed height for all images */
    overflow: hidden; /* Hide overflow if images are larger than the fixed height */
}
.dogImage img {
    width: 100%; /* Make sure the image fills its container */
    height: 100%; /* Maintain aspect ratio */
    object-fit: cover; /* Cover the container without stretching the image */
}